<div class="row">
  <div class="col-12 text-end">
    <%= link_to "New borrow", new_admin_borrow_path, class: "btn mb-0 me-1 bg-gradient-dark" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Borrows</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Book</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Member/ID</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Due to</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <% @borrows.each do |borrow| %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= borrow.book.title %></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h6 class="mb-0 text-sm"><%= borrow.book.author %></h6>
                  </td>
                  <td>
                    <h6 class="mb-0 text-sm"><%= borrow.user.email %>/<%= borrow.user.id %></h6>
                  </td>
                  <td>
                    <h6 class="mb-0 text-sm"><%= borrow.due_to.strftime('%m/%d/%Y') %></h6>
                  </td>
                  <td class="align-middle text-center">
                    <% if borrow.overdue? %>
                      <span class="badge badge-sm bg-gradient-secondary">Overdue</span>
                    <% elsif !borrow.returned? %>
                      <span class="badge badge-sm bg-gradient-success"><%= (borrow.due_to.to_date - Date.current).to_i %> days remaining</span>
                    <% end %>
                  </td>
                  <td class="align-middle text-center">
                    <% if borrow.returned %>
                      <%= button_to "Mark as Not Returned", toggle_returned_admin_borrow_path(borrow), class: "btn btn-sm mb-0 me-1 bg-gradient-dark" %>
                    <% else %>
                      <%= button_to "Mark as Returned", toggle_returned_admin_borrow_path(borrow), class: "btn btn-sm mb-0 me-1 bg-gradient-dark" %>
                    <% end %>
                  </td>
                  <td class="align-middle text-center">
                    <%= link_to "Edit", edit_admin_borrow_path(borrow), class: "btn btn-sm mb-0 me-1 bg-gradient-dark" %>
                    <%= link_to 'Delete borrow', admin_borrow_path(borrow), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
